.boxs {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: stretch;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2px;
}

.Boxstudent {
  width: 100%;
  height: 25%;
  display: flex;
  /* justify-content: space-around;  */
  align-items: stretch;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 10px;
  gap: 5px;
  position: relative;
}

.imgsingel {
  width: 25%;
  height: 100%;
  position: relative;
  background-image: url(http://localhost:3000/static/media/prof.07cdb1699b37672776f1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  display: flex;
  position: absolute;
  border-radius: 4px;
}

.textBox {
  width: 55%;
  height: 100%;
  position: absolute;
  float: right;
  right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 5px;
}

.titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  background: #194a5d;
  width: 66%;
  color: white;
  padding: 3px;
  border-radius: 4px;
  scale: revert;
  box-shadow: 1px 2px 6px 0px #2b85a8;
}
.titlebox > h2 {
  box-shadow: 0px 1px 3px;
  border-radius: 4px 0px 0px 4px;
}
.Boxfilter {
  width: 100%;

  margin-top: 15px;
  background-color: rgb(25, 74, 93);

  padding: 15px;
  gap: 5px;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.ListStudents {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  /* flex-flow: wrap; */
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 15px;
  gap: 5px;
}

.student {
  display: flex;
  width: 150px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  border-radius: 4px;
  box-shadow: 0 3px 4px #404a467a;
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 250, 250, 0.44);
  background: #ebf2ef69;
  color: #000;
  cursor: pointer;
}
.titlename {
  border-radius: 4px 4px 0 0;
  align-content: stretch;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: rgb(235, 242, 239);
  background: linear-gradient(
    0deg,
    rgba(197, 205, 201, 0.68) 0%,
    rgba(213, 238, 226, 0.77) 60%,
    rgb(210, 239, 227) 100%
  );
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
}

.titlename:hover {
  width: 100%;
  font-size: 1.1rem;
  background: rgb(210, 239, 227) 100%;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.ImageStudent {
  background-image: url("./ImageStudents/student.png");
  width: 100%;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  display: flex;

  align-items: flex-end;
  /* flex-flow: wrap; */
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.ImageStudent:hover {
  cursor: pointer;
  width: 103%;
  height: 22vh;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all 1s ease;
  transition: all 0.5s ease;
}

.backgroundInfo {
  background-color: rgba(0, 0, 0, 0.46);
  filter: blur(3px);
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.ImageStudent:hover .info {
  display: flex;
}
.ImageStudent:hover .backgroundInfo {
  display: flex;
}

.info {
  /* background-color: #000; */
  position: absolute;
  display: none;
  width: min-content;
  /* width: 18%; */
  background: #91c0c01c;
  border-radius: 6px;
  box-shadow: 2px 3px 3px 1px #ced7df;
  color: #f1eded;
  margin-bottom: 2px;
}
